body {
    font-family: 'Raleway', sans-serif;
    font-size: large;
    margin:0;
    padding:0;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 200%;

}

h2 {
    margin-bottom: 5%;
}

h3 {
    margin-top: 10%;
    margin-bottom: 5%;
}

h4{
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    line-height: 2;
}

hr{
    border: dotted rgba(221, 221, 221, 0.5) 6px;
    border-bottom: none;
    width:3%;

}

img {
    display: block;
    margin: 5% auto 5% auto;
    width: 50%;
}

video::-webkit-media-controls-volume-slider {
    display:none;
    }
    
video::-webkit-media-controls-mute-button {
    display:none;
    }

.video-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block
  }

.title-container{
    background-color: #F6EEC7;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.intro-container{
    padding: 5% 20% 5% 20%;
}

.row{
    background-color: rgba(221, 221, 221, 0.5);
    padding-top:5%;
    padding-bottom: 5%;
}

.content-container{
    padding: 0 20% 5% 20%;
}

.bottom-container{
    background-color: #F6EEC7;
    padding: 2% 1% 2% 1%;
    text-align:center;
}

.social-link{
    color:black;
    margin: 5% 1% 5% 1%;

}
